{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block content %}

        <div class="card">
            <div class="card-body">
                <blockquote class="blockquote text-center">
                <h1 class="card-title" style="color:rgb(181, 245, 5)">¡SOBRE MI!</h1>
                <h3 class="card-text" style="color:rgb(66, 109, 0)">Creo que una imagen vale mas que mil palabras.</h3>
                <h5 class="card-text" style="color:rgb(87, 143, 2)">Me presento! soy Regina de 24 años nacida en Uruguay. Y como se puede ver en la imagen, me presento como una persona proactiva la cual siempre esta buscando aprender y hacer cosas nuevas siendo fiel a mi estilo. Soy licenciada en economia y gracias a las mil puertas que se abren de la economia, hoy estoy estudiando python para progresar como profesional. No solo me defino por lo que estudio, sino que también hacen parte de mi los hobbies que tengo. Me gusta mucho todo lo que tiene que ver con manualidades, ya se pintar, tejer o cuidar de mis plantas. Todo hecho con la misma dedicacion y cariño.</h5>
            </blockquote>
            </div>
            <img src="https://www.psd.gov.sg/images/default-source/challenge-library/ideas/work-better/how-to-keep-a-hobby-when-you-have-no-time/hobby-01-1600x900.jpeg" class="card-img-bottom" alt="...">
            </div>

{% endblock %}