{% extends 'base.html' %}

{% block content %}

{% if message %}
    <h2>{{message}}</h2>
{% endif %}

<div class="card bg-dark text-white">
    <img src="https://static.vecteezy.com/system/resources/previews/000/165/158/original/free-breads-vectors.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">

        <blockquote class="blockquote text-center">
            <p> <h1 class="mb-0" style='color: rgb(43, 2, 206)'>Bienvenidos a la ruta del bizcocho uruguayo</h1></p>
            <footer  class="mb-0" style='color:rgb(58, 2, 223)'>Estás en el lugar correcto si gustas de probar los mejores bizcochos mientras turisteas
                por uruguay </footer>
        </blockquote>
    </div>
</div>


{% endblock %}